@import url('https://fonts.googleapis.com/css?family=Audiowide');

#root{
  height: auto;
}

:root{
  --primary-color: #1a8ada;
  --dark-color:#3f3f3f;
  --light-color: #f0f0f0;
  --easy-color: #21ce24;
  --medium-color: #dbbe02;
  --hard-color: #da2525;
}

body, html{
  background: var(--dark-color);
  height: auto;
}

* > *{
    font-family: 'Audiowide', sans-serif;
}

.container{
  display: block;
  position: relative;
  padding: 2%;
  min-height:100vh; 
  height:100%;
  /* width: 95%; */
  /* justify-items: center; */
  /* padding: 20px; */
}

.container .title{
    font-size: 3em;
    text-align: center;
    border: 5px solid var(--primary-color);
    padding: .3em .2em;
    border-radius: 4px;
}

.text-light {
	color: var(--light-color)
}
.text-easy {
	color: var(--easy-color)
}
.text-medium {
	color: var(--medium-color)
}
.text-hard {
	color: var(--hard-color)
}

.container ul{
  list-style: none;
  margin: 0;
  padding: 0;
	overflow: auto;
}

.container .questions{
    padding: 1em;
}

/* 
.container .questions .qid{
  padding: .2em .7em;
  color: #222222;
  background-color: #0DFF92;
  border-radius: 50px;
} */

.container .grid{
    /* margin-top: 0.5em; */
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
    /* border: #ff5a5a;
    border-width: 3px;
    border-style: solid; */
}

.container .grid3{
  /* margin-top: 0.5em; */
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr;
}


.container .btn{
    padding: .2em 1.7em;
    border: none;
    border-radius: .1em;
    font-size: 1.2em;
}

.container .btn:hover{
    cursor: pointer;
    background-color: #f0f0f0;
    color: #202020;
}

.next{
    background-color: #ff5a5a;
    justify-self: center;
}

.prev{
    background-color: #47d645;
    justify-self: center;
    margin: auto;
}



.checked {
  border: 5px solid var(--primary-color) !important;
}

.checked::before{
  background: var(--primary-color)
}

.progressBar{
  position: relative;
  margin: 40px auto;
  height: auto;
  width: 800px;
  padding: 20px;
}

.rowC{display: grid;
  grid-template-columns: 0.5fr 0.5fr;}

.images{
  justify-self:center;
  border-radius: 30%;
  height: 200px;
  width: 200px;
}

.storyquestion{
  display: grid;
  /* grid-template-rows: 1fr 1fr; */
  height: auto;
}

.box1 {
  transition: box-shadow .3s;
  border: 1px solid #ccc;
  background: rgb(255, 248, 235);
  margin: 30px;
  text-align: center;
  color :black;
  vertical-align: middle;
  border-radius: 1em;
  border: #ff5a5a;
  border-style: solid;
  height: 10em;
  /* background-image: url(../Images/msgs.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40%;
}

.box2 {
  transition: box-shadow .3s;
  border: 1px solid #ccc;
  margin: 30px;
  text-align: center;
  color :black;
  vertical-align: middle;
  border-radius: 1em;
  border: #ff5a5a;
  border-style: solid;
  height: 10em;
  /* background-image: url(../Images/story.jfif); */
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40%;
}

.box1:hover {
  box-shadow: 0 0 31px rgb(250, 246, 44); 
}
.box2:hover {
  box-shadow: 0 0 31px rgb(250, 246, 44); 
}

.characterg {
  transition: box-shadow .3s;
  border: 1px solid #ccc;
  margin: 30px;
  text-align: center;
  color :black;
  vertical-align: middle;
  border-radius: 1em;
  border: #ff5a5a;
  border-style: solid;
  height: 10em;
  /* background-image: url(../Images/girl.png); */
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40%;
}

.characterb {
  transition: box-shadow .3s;
  border: 1px solid #ccc;
  margin: 30px;
  text-align: center;
  color :black;
  vertical-align: middle;
  border-radius: 1em;
  border: #ff5a5a;
  border-style: solid;
  height: 10em;
  /* background-image: url(../Images/boy.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40%;
}


.characterg:hover {
  box-shadow: 0 0 31px rgb(250, 246, 44); 
}
.characterb:hover {
  box-shadow: 0 0 31px rgb(250, 246, 44); 
}


.questionimages{
  object-fit: contain;
  justify-self:center;
  height: 800px;
  width: 800px;
  /* margin: 5%; */
}

.ques-images {
 margin-left: 12vw;
 height: 450px;
 width: 450px;
}

.question-div {
  background-color: rgba(88, 85, 85, 0.63);
  position: relative;
  padding: 2vw 2vw 2vw 2vw;
  margin-left: 8vw;
}

.question-text {
  position: absolute;
}


/* Firing Mechanisim  */

.fire_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.Fire[fire='1'] {
    align-self: center;
    justify-self: center;
    opacity: 0;
    height: 50px;
    width: 50px;
    background-color: rgb(245, 136, 64);
    border-radius: 50%;
    animation:  appear 0.5s linear 1, fire_l_r 0.5s linear 1, disappear 0.5s linear 1 ;
}
    
@keyframes appear {
    0% { opacity: 0; }
    20% { opacity: 0; }
    40% { opacity: 0.3; }
    60% { opacity: 0.5; }
    80% { opacity: 0.9; }
    100% { opacity: 1; }
}

@keyframes disappear{
    0% { opacity: 1; }
    20% { opacity: 0.9; }
    40% { opacity: 0.5; }
    60% { opacity: 0.3; }
    80% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes fire_l_r {
    from{ transform: translateX(0) }
    to{ transform: translateX(600%) }
}

.Fire_E[fire_e='1'] {
  align-self: center;
  justify-self: center;
  opacity: 0;
  height: 50px;
  width: 50px;

  background-color: rgb(245, 136, 64);
  border-radius: 50%;
  animation:  appear 0.5s linear 1, fire_r_l 0.5s linear 1, disappear 0.5s linear 1 ;
}


@keyframes fire_r_l {
  from{ transform: translateX(0) }
  to{ transform: translateX(-600%) }
}

/* Space Layout */
.spacelayout{
  background-image: url(../Images/space.jpg);
  background-size: cover;
  background-position: center;
  overflow: visible;
  /* height: 100rem; */
}