.sun {
    background-color: yellow;
    border-radius: 50%;
    height: 100vh;
    aspect-ratio: 1 / 1;
    /*
      animations declared later in the cascade will override the
      properties of previously declared animations
    */
    animation:
      4s linear 0s infinite alternate rise,
      /* bounce 'overwrites' the transform set by rise */
      4s linear 0s infinite alternate bounce;
      /* hence the sun only moves horizontally */
  }
  
  @keyframes rise {
    from {
      transform: translateY(110vh);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes bounce {
    from {
      transform: translateX(-50vw);
    }
    to {
      transform: translateX(50vw);
    }
  }