.card-img {
    width: 25vw;
    height: 25vw;
    cursor: pointer;
    border: 2px solid red;
    border-radius: 5px;
}

.card-text {
    color: white;
    text-align: center;
    font-size:x-large;
    cursor: pointer;
    width: 25vw;
}

.card-1 {
    margin-left: 10vw;
}

.card-2 {
    margin-left: 12vw;
}

.card-img:hover {
    box-shadow: 0 0 11px rgb(255, 255, 255); 
  }